.projectCardImg{
    width: 39.6rem;
    height: 24rem;
}

.projectCardImgOverlay{
    display: hidden;
    text-align: center;
    justify-content: center;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 0;
}
.projectCardImgOverlay:hover{
    background-color: black;
    opacity: 0.8;
    text-align: center;
    justify-content: center;
    padding-top: 130px;
}
.button{
    margin: 0.5rem;
}
@media screen and (max-width: 990px){
    .projectCardImg{
        width: 39.6rem;
        height: 24rem;
    }
    .projectCardImgOverlay{
        text-align: center;
        justify-content: center;
        padding: 4rem; 
    }
    .projectCardImgOverlay:hover{
        background-color: black;
        opacity: 0.8;
        text-align: center;
        justify-content: center;
        padding-top: 5rem;
    }
}

@media screen and (max-width: 550px){
    .projectCardImg{
        max-width: 31.1rem;
        height: 14rem;
    }
  }
  @media screen and (max-width: 498px){
    .projectCardImg{
        width: 21.8rem;
        height: 14rem;
    }
  }